/* ------------------------ 
    General & Temp
--------------------------- */
:root {
  --var-color-primary-light: #ffffff;
  --var-color-secondary-light: #222222;
  --var-color-text-light: #585858;
  --var-color-accent-light: #06bff6;
  --var-color-primary-dark: #000000;
  --var-color-secondary-dark: #efefef;
  --var-color-text-dark: #afafaf;
  --var-color-accent-dark: #d9fb52;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: visible;
}

body {
  background-color: var(--var-color-secondary-dark);
  font-family: "Inter", serif;
  overflow-x: hidden;
  max-width: 100vw;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
  font-size: 15px;
  line-height: 21px;
  font-weight: 500;
  color: var(--var-color-secondary-light);
}

p {
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  color: var(--var-color-text-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--var-color-secondary-light);
  font-weight: 600;
}

h1 {
  font-size: 71px;
  line-height: 79px;
}

h2 {
  font-size: 55px;
  line-height: 63px;
}

h3 {
  font-size: 31px;
  line-height: 39px;
}

h4 {
  font-size: 25px;
  line-height: 32px;
}

h5 {
  font-size: 19px;
  line-height: 27px;
}

h6 {
  font-size: 15px;
  line-height: 21px;
}

.container {
  display: flex;
  max-width: 1190px;
  margin: 0 auto;
  flex-direction: column;
}

section {
  scroll-margin-top: 100px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
}

.icon-svg path {
  fill: var(--var-color-accent-light);
}

.icon-svg rect {
  fill: var(--var-color-secondary-dark);
}

/* ------------------------ 
    Scroll Bar
--------------------------- */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #cbcbcb;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--var-color-accent-light);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0394c5;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--var-color-accent-light) var(--var-color-text-dark);
}

/* ------------------------ 
    Back to Top Section
--------------------------- */
.backToTop {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: var(--var-color-accent-light);
  color: var(--var-color-primary-light);
  border-radius: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: background-color 0.6s, opacity 0.6s, visibility 0.6s,
    transform 0.6s;
  z-index: 999;
}

.backToTop.show {
  opacity: 1;
  visibility: visible;
}

.backToTop:hover {
  background-color: #0394c5;
  transform: rotate(45deg);
}

.backToTop path {
  fill: var(--var-color-secondary-dark);
}

.icon-backToTop {
  transition: transform 0.6s;
}

.backToTop:hover .icon-backToTop {
  transform: rotate(-45deg);
}

/* ------------------------ 
    Navigation Bar
--------------------------- */
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: #efefefcc;
  padding: 17px 0;
  max-width: 100%;
  margin: 0 auto;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav .logo a {
  font-size: 31px;
  font-weight: 600;
  color: var(--var-color-accent-light);
  transition: 0.3s;
  cursor: pointer;
}

.nav .logo a:hover {
  color: #0394c5;
}

.nav .nav-menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.nav .nav-menu ul li a {
  position: relative;
  padding-bottom: 7px;
  transition: 0.3s;
}

.nav .nav-menu ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2.5px;
  background-color: var(--var-color-accent-light);
  transition: all 0.3s ease-in-out;
}

.nav .nav-menu ul li a.active::after,
.nav .nav-menu ul li a:hover::after {
  width: 60%;
}

.nav .nav-menu a.active,
.nav .nav-menu a:hover {
  color: var(--var-color-accent-light);
}

.light-mode .btn-mode {
  background-color: var(--var-color-accent-light);
  padding: 5px 5.5px 5.5px;
  border-radius: 100px;
  text-align: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  position: relative;
}

.light-mode .btn-mode a {
  background-color: transparent;
  color: var(--var-color-secondary-dark);
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  padding: 8px 30px;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.light-mode .btn-mode a.active {
  background-color: var(--var-color-secondary-dark);
  color: var(--var-color-accent-light);
}

.light-mode .btn-mode a:hover {
  background-color: var(--var-color-secondary-dark);
  color: var(--var-color-secondary-light);
}

/* ------------------------ 
    Sosial Media
--------------------------- */
.sosial-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: fixed;
  top: 0;
  left: 50px;
  z-index: 9999;
}

.sosial-media .line-sosial-media {
  width: 3px;
  height: 180px;
  background-color: var(--var-color-text-light);
}

.sosial-media i {
  font-size: 19px;
  color: var(--var-color-text-light);
  cursor: pointer;
  transition: 0.3s;
}

.sosial-media i:hover {
  color: var(--var-color-secondary-light);
}

/* ------------------------ 
    Hero Section
--------------------------- */
.hero {
  height: 100vh;
  margin-top: -85px;
  text-align: center;
  align-content: center;
}

.hero h1 {
  margin-top: 50px;
}

.hero h2 {
  margin: 50px 0;
}

.hero a {
  font-size: 24px;
  font-weight: 500;
  padding: 15px 50px;
  border-radius: 13px;
  background-color: var(--var-color-secondary-light);
  color: var(--var-color-secondary-dark);
  cursor: pointer;
  transition: 0.3s;
  width: fit-content;
  margin: 0 auto;
}

.hero a:hover {
  background-color: var(--var-color-text-light);
}

.hero span {
  color: var(--var-color-accent-light);
}

.hero .cursor {
  color: var(--var-color-accent-light);
  animation: blink 0.8s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.cursor-effect {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--var-color-accent-light);
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 10px var(--var-color-accent-light);
  animation: fadeOut 0.5s linear;
}

@keyframes fadeOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

/* ------------------------ 
    Title Section
--------------------------- */
.sub-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sub-title h5 {
  color: var(--var-color-text-light);
}

.sub-title .line {
  height: 2.5px;
  width: 100px;
  background-color: var(--var-color-text-light);
}

.title h3 {
  color: var(--var-color-accent-light);
  text-transform: uppercase;
}

/* ------------------------ 
    About Section
--------------------------- */
.about {
  padding: 0 20px 170px;
}

.about .container:nth-child(2) {
  flex-direction: row;
  gap: 60px;
  margin-top: 50px;
}

.about .img-profile {
  flex: 0.8;
}

.about .content {
  flex: 2;
}

.about .content .p2 {
  margin: 20px 0 30px;
}

.about .container:nth-child(3) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.about .content .item {
  display: flex;
  gap: 15px;
  align-items: center;
}

.about .content .item span {
  font-weight: 600;
  color: var(--var-color-secondary-light);
  margin-right: 10px;
}

.about .content a {
  color: var(--var-color-text-light);
  cursor: pointer;
}

.about .content a:hover {
  text-decoration: underline;
}

/* ------------------------ 
    Resume Section
--------------------------- */
.resume {
  padding: 0 20px 170px;
}

.resume .container:nth-child(2) {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.resume .content {
  display: flex;
  align-items: start;
  gap: 35px;
  margin-top: 25px;
}

.resume .content .item {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 10px;
  margin-top: -2px;
}

.resume .content .item em {
  color: var(--var-color-accent-light);
}

.resume .education,
.resume .experience,
.resume .certificate {
  position: relative;
}

.resume .education .line-item,
.resume .certificate .line-item {
  background-color: var(--var-color-accent-light);
  position: absolute;
  top: 60px;
  left: 8px;
  height: 230px;
  width: 2.4px;
  z-index: -999;
}

.resume .experience .line-item {
  background-color: var(--var-color-accent-light);
  position: absolute;
  top: 60px;
  left: 8px;
  height: 340px;
  width: 2.4px;
  z-index: -999;
}

/* ------------------------ 
    Skills Section
--------------------------- */
.skills {
  padding: 0 20px 170px;
}

.skills .container:nth-child(2) {
  margin-top: 45px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 100px;
}

.skills .progress .skill {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.skills .progress-bar-wrap {
  width: 100%;
  background-color: #cbcbcb;
  border-radius: 5px;
  overflow: hidden;
}

.skills .progress-bar {
  width: 0; /* Awalnya 0% */
  height: 10px;
  background-color: var(--var-color-accent-light);
  border-radius: 5px;
  transition: width 1.5s ease-in-out;
}

/* ------------------------ 
    Portfolio Section
--------------------------- */
.portfolio {
  padding: 0 0 170px;
}

.portfolio .container {
  padding: 0 20px;
}

.portfolio .container:nth-child(2) p {
  padding: 40px 0 50px;
  max-width: 950px;
}

.portfolio .gallery-wrap {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.portfolio .gallery-top,
.portfolio .gallery-bottom {
  display: flex;
  gap: 20px;
  white-space: nowrap;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  margin-bottom: 20px;
}

.portfolio .gallery-top {
  animation-name: scrollLeft;
}

.portfolio .gallery-bottom {
  animation-name: scrollRight;
}

/* Animasi berjalan tanpa terputus */
@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.portfolio img {
  width: 280px;
  display: inline-block;
}

/* ------------------------ 
    Contact Section
--------------------------- */
.contact {
  padding: 0 20px 170px;
}

.contact .form-row {
  display: flex;
  gap: 40px;
  margin-top: 35px;
}

.contact .form-group {
  flex: 1;
  margin-bottom: 25px;
  margin-right: 45px;
}

.contact label {
  font-family: "Inter", serif;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 8px;
  display: block;
  color: var(--var-color-secondary-light);
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 11px 20px;
  border: 2px solid var(--var-color-text-dark);
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Inter", serif;
  background-color: var(--var-color-secondary-dark);
}

.contact input:focus,
.contact textarea:focus {
  border-color: var(--var-color-accent-light);
  outline: none;
  border: 2px solid var(--var-color-accent-light);
}

.contact textarea {
  resize: none;
  height: 120px;
}

.contact input::placeholder,
.contact textarea::placeholder {
  color: var(--var-color-text-dark);
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: 15px;
}

.contact button {
  width: 100%;
  padding: 12px 0;
  background-color: var(--var-color-accent-light);
  color: var(--var-color-secondary-dark);
  border: none;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  font-family: "Inter", serif;
  transition: 0.3s;
  margin-top: 5px;
}

.contact button:hover {
  background-color: #0394c5;
}

.contact button.loading {
  background-color: var(--var-color-secondary-light);
  cursor: not-allowed;
}

.contact #notification {
  margin-top: 15px;
  padding: 12px;
  background: #28a745;
  color: var(--var-color-secondary-dark);
  text-align: center;
  display: none;
  border-radius: 5px;
}

.contact .hidden {
  display: none;
}

@media (max-width: 500px) {
  .contact .form-row {
    flex-direction: column;
    gap: 0;
  }
}

/* ------------------------ 
    Footer
--------------------------- */
.footer {
  display: flex;
  flex-direction: column;
  gap: 7px;
  text-align: center;
  padding: 30px 0 25px;
}

.footer p {
  color: var(--var-color-secondary-light);
}

.footer a {
  color: var(--var-color-accent-light);
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.footer a:hover {
  text-decoration: underline;
}
